<h1>Editing my pg model</h1>

<%= render "form", my_pg_model: @my_pg_model %>

<br>

<div>
  <%= link_to "Show this my pg model", my_pg_model_path(@my_pg_model) %> |
  <%= link_to "Back to my pg models", my_pg_models_path %>
</div>
